<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="serviceBinding" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webapi.allegro.pl/service.php" binding="basicHttpBinding"
                bindingConfiguration="serviceBinding" contract="AllegroServiceReference.servicePort"
                name="servicePort" />
        </client>
    </system.serviceModel>
</configuration>